{% extends 'base.html' %}

{% block body %}

        <main class="main">

            <div class="container">
	        	<div class="page-header page-header-big text-center" style="background-image: url('static/images/gadget.png')">
        			<h1 class="page-title text-white">About us<span class="text-white">Who we are</span></h1>
	        	</div><!-- End .page-header -->
            </div><!-- End .container -->

            <div class="page-content pb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-3 mb-lg-0">
                            <h2 class="title">Our Vision</h2><!-- End .title -->
                            <p> Triple S Systems Limited is to be a  respected company of highly skilled, with  the vision to deliver affordable , efficient  and quality services and products across  the regions.

                                 </p>
                        </div><!-- End .col-lg-6 -->
                        
                        <div class="col-lg-6">
                            <h2 class="title">Our Mission</h2><!-- End .title -->
                            <p>To be trusted Strategic Partner to our  clients helping them to drive and achieve  their vision through recommending and  offering the correct product they need </p>
                        </div><!-- End .col-lg-6 -->
                    </div><!-- End .row -->

                    <div class="mb-5"></div><!-- End .mb-4 -->
                </div><!-- End .container -->

                <div class="bg-light-2 pt-6 pb-5 mb-6 mb-lg-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5 mb-3 mb-lg-0">
                                <h2 class="title">Who We Are</h2><!-- End .title -->
                
                                <p class="mb-2">Triple S Systems Limited was established on the 1st of April 2022  poised to be one of the leading wholesales suppliers of all kinds  of 100% genuine technology products. The company provides a  wide range of products in computing, enterprise, print and  consumables and more from prominent brands like Hewlett-  Packard, Dell Technologies, Samsung, Cisco and Microsoft.
                                    We are established on over Sixteen (16) years experience in ICT  business development and sales in delivering affordable, efficient  and quality products and services </p>

                                <p class="mb-2"> We understand that our reputation and success are strongly  influenced by the quality of customer relations/satisfaction at every point, thus our values are founded on great customer  centricity evident in our many connections maintained over  decades before our emergence. We are located in one of the  main business areas in Lagos boasting direct partnerships with  major brand vendors in the delivery top quality branded  products.
                                </p>

                            </div><!-- End .col-lg-5 -->

                            <div class="col-lg-6 offset-lg-1">
                                <div class="about-images">
                                    <img src="static/images/pexels-mikhail-nilov-8297569.jpg" height="200px" width="400px" alt="" class="about-img-front">
                                    <img src="static/images/pexels-pavel-danilyuk-7190882.jpg" height="200px" width="400px"alt="" class="about-img-back">
                                </div><!-- End .about-images -->
                            </div><!-- End .col-lg-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .bg-light-2 pt-6 pb-6 -->

                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="brands-text">
                                <h2 class="title"> STRATEGIC BRAND PARTNERS</h2><!-- End .title -->
                               
                                   
                            </div><!-- End .brands-text -->

                      
                        
                        </div><!-- End .col-lg-5 -->
                        <div class="col-lg-7">
                            <div class="brands-display">
                                <div class="row justify-content-center">
                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="brand">
                                            <img src="static/images/dell.png" alt="Brand Name">
                                        </a>
                                    </div><!-- End .col-sm-4 -->

                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="brand">
                                            <img src="static/images/hp.png" alt="Brand Name">
                                        </a>
                                    </div><!-- End .col-sm-4 -->

                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="brand">
                                            <img src="static/images/apple.png" alt="Brand Name">
                                        </a>
                                    </div><!-- End .col-sm-4 -->

                                    <div class="col-6 col-sm-4">
                                            
                                         <a href="#" class="brand">
                                             <img src="static/images/microsoft.png" alt="Brand Name">
                                         </a>
                                    </div><!-- End .col-sm-4 -->

                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="brand">
                                            <img src="static/images/samsung.png" alt="Brand Name">
                                        </a>
                                      
                                    </div><!-- End .col-sm-4 -->

                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="brand">
                                            <img src="static/images/ibm.png" alt="Brand Name">
                                        </a>
                                    </div><!-- End .col-sm-4 -->

                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="brand">
                                            <img src="static/images/kaspersky.png" alt="Brand Name">
                                        </a>
                                    </div><!-- End .col-sm-4 -->

                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="brand">
                                            <img src="static/images/vertiv.png" alt="Brand Name">
                                        </a>
                                    </div><!-- End .col-sm-4 -->

                                    <div class="col-6 col-sm-4">
                                        <a href="#" class="brand">
                                            <img src="static/images/cisco.png" alt="Brand Name">
                                        </a>
                                    </div><!-- End .col-sm-4 -->
                                </div><!-- End .row -->
                            </div><!-- End .brands-display -->
                        </div><!-- End .col-lg-7 -->
                    </div><!-- End .row -->

                    <hr class="mt-4 mb-6">

                    <h2 class="title text-center mb-4">Meet Our Team</h2><!-- End .title text-center mb-2 -->

                    <div class="row">
                        <div class="col-md-4">
                            <div class="member member-anim text-center">
                                <figure class="member-media">
                                    <img src="static/images/kelechi.png" alt="member photo">

                                    <figcaption class="member-overlay">
                                        <div class="member-overlay-content">
                                            <h3 class="member-title">Kelechi Nwamara<span> Managing Director</span></h3><!-- End .member-title -->
                                        
                                        </div><!-- End .member-overlay-content -->
                                    </figcaption><!-- End .member-overlay -->
                                </figure><!-- End .member-media -->
                                <div class="member-content">
                                    <h3 class="member-title">Kelech Nwamara<span>Managing Director</span></h3><!-- End .member-title -->
                                   
                                </div><!-- End .member-content -->

                            </div><!-- End .member -->
                        </div><!-- End .col-md-4 -->

                        <div class="col-md-6">

                        <p> Mrs Nwamara Kelechi has a B.Sc in Business Administration with a Master in Business Administration in the view from the University of Lagos.
                            Mrs Nwamara began her career in TD Africa Distributions Ltd when she did her industrial Attachment as a Front Desk Officer. After which she was fully employed as a Marketing Executive selling the American Power company (APC) products due to her penchant and interest in sales.
                            She was given 3 steps promotion to the position of Assistant Manager for HP Supplies and Toshiba Laptops, having her first foray into personal selling of Laptops.
                            Having risen through the ranks to the position of Assistant Manager, She was made a full- fledged product Manager selling PSG (Personal System Group). She operated as a Head of Business Unit for HP Supplies and Accessories but has varied work experience interacting with the major brands in TD Africa such as Power in March 2022 as the Head of Group.
                            Kelechi Nwamara is a professional woman in business per excellence and a former senior Manager in TD Africa. She is linked with the world’s largest community of professionals. To underscore her professionalism, She was appointed to work alongside the CEO, Mrs Chioma Ekeh, briefly as her Senior Executive Assistant. Kelechi Nwamara has won several awards both in TD Africa based on her valued contributions and in her faith-based community. She was awarded Staff of the Year in 2015 for her smart work, efficiency and utmost dedication to duty. She is resilient, soft- spoken, committed, loyal and very lovable. She hails from Imo State and is happily  married with three lovely children.
                            
                             </p> 

                        </div>

                    </div><!-- End .row -->
                </div><!-- End .container -->

                <div class="mb-2"></div><!-- End .mb-2 -->

                <div class="about-testimonials bg-light-2 pt-6 pb-6">
                    <div class="container">
                        <h2 class="title text-center mb-3">Customer Reviews</h2><!-- End .title text-center -->

                        <div class="owl-carousel owl-simple owl-testimonials-photo" data-toggle="owl" 
                            data-owl-options='{
                                "nav": false, 
                                "dots": true,
                                "margin": 20,
                                "loop": false,
                                "responsive": {
                                    "1200": {
                                        "nav": true
                                    }
                                }
                            }'>
                            <blockquote class="testimonial text-center">
                                <img src="static/images/testimonials/user-1.jpg" alt="user">
                               
                                <cite>
                                    John Doe
                                    <span>Customer</span>
                                </cite>
                            </blockquote><!-- End .testimonial -->

                            <blockquote class="testimonial text-center">
                                <img src="static/images/testimonials/user-2.jpg" alt="user">
              

                                <cite>
                                    Victoria Ventura
                                    <span>Customer</span>
                                </cite>
                            </blockquote><!-- End .testimonial -->
                        </div><!-- End .testimonials-slider owl-carousel -->
                    </div><!-- End .container -->
                </div><!-- End .bg-light-2 pt-5 pb-6 -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

 
{% endblock %}